<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            overflow-x: hidden;
            height: 100%;
            /* background-color: #EF5350; */
            background:  #edf1f3;
            background-repeat: no-repeat
        }
        header {
            background-color: #143D59;
            margin-bottom: -40px;
            padding-top: 5px;
        }

        header h1 {
            color: rgb(7, 170, 7);
            /* font-family: 'Dancing Script', cursive; */
            font-family: 'Times New Roman', Times, serif;
        }
        .card {
            padding: 30px 25px 35px 50px;
            border-radius: 30px;
            box-shadow: 0px 4px 8px 0px #092233;
            margin-top: 50px;
            margin-bottom: 50px
        }
        #danger:hover {
            color: #ff3535 !important;
            transition: color 0.3s;
        }
#success:hover {
            color: #7de762c7 !important;
            transition: color 0.3s;
        }
.logo {
            border-radius: 5px;
            border-bottom: 2px ridge white;
            width: 23vw;
            height: 12vh;
        }
  a{
    font-size: 17px;
  }
        .border-line {
            border-right: 1px solid #BDBDBD;

        }

        .text-sm {
            font-size: 13px
        }

        .text-md {
            font-size: 18px
        }

        .image {
            width: 60px;
            height: 30px;
        }

        ::placeholder {
            color: grey;
            opacity: 1
        }

        :-ms-input-placeholder {
            color: grey
        }

        ::-ms-input-placeholder {
            color: grey
        }

        input {
            padding: 2px 0px;
            border: none;
            border-bottom: 1px solid lightgrey;
            margin-bottom: 5px;
            margin-top: 2px;
            box-sizing: border-box;
            color: #000;
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 500
        }

        input:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border-bottom: 1px solid #EF5350;
            outline-width: 0
        }

        button:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            outline-width: 0
        }

        .btn-red {
            background-color: #EF5350;
            color: #fff;
            padding: 8px 25px;
            border-radius: 50px;
            font-size: 18px;
            letter-spacing: 2px;
            border: 2px solid #fff
        }

        .btn-red:hover {
            box-shadow: 0 0 0 2px #EF5350
        }

        .btn-red:focus {
            box-shadow: 0 0 0 2px #EF5350 !important
        }

        .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
            background-color: #EF5350
        }

        @media screen and (max-width: 575px) {
            .border-line {
                border-right: none;
                border-bottom: 1px solid #EEEEEE
            }
        }
        .submitBtn{
            cursor: not-allowed;
        }

    </style>
</head>

<body>
    <header>
        <div class="container-fluid">
    
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <img class="logo" style="max-width:6vw ;" class="img-fluid" src="../../logo.jpeg">
                        </div>
    
                        <div class="col-12 col-sm-9">
                            <h1>FarmBee</h1>
                            <div class="row">
                                <div class="col-12">
                                    <h2 style="color:white; font-family: 'Times New Roman', Times, serif ;">Payment page</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6  ">
                    <ul style="margin-top: 2rem;">
                        <li class="list-inline-item" style="margin-left: 11rem;">
                            <a id="success" href="/home"
                                style="color:#e9e5e5; text-decoration: none;margin-right: 1rem;">Home</a>
                        </li>
                        <li class="list-inline-item">
                            <a id="success" href="/buyer/orders"
                                style="color:#e9e5e5; text-decoration: none;margin-right: 1rem;">Your orders</a>
                        </li>
                        <li class="list-inline-item">
                            <a id="success" href="/buyer/getstore"
                                style="color:#e9e5e5; text-decoration: none;margin-right: 1rem;">Mandi</a>
                        </li>       
                        <li class="list-inline-item">
                            <a id="success" href="#"
                                style="color:#e9e5e5; text-decoration: none;margin-right: 1rem;">Chart</a>
                        </li>     
                        <li class="list-inline-item">
                            <form action="/buyer/logout" method="post"><button id="danger"
                                    style="color:#e9e5e5; text-decoration: none;background: none; border: none; padding: 0; outline: 0; cursor: pointer;font-size: 17px;">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
    </header>
    <div class="container-fluid px-1 px-md-2 px-lg-4 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-sm-11">
                <div class="card border-0">
                            <div class="row justify-content-center">
                                <h3 class="mb-4">Your Payment Details</h3>
                            </div>
                            <div class="row">
                                <div class="col-sm-7 border-line pb-3">
                                    <div class="form-group">
                                        <p class="text-muted text-sm mb-0">Name on the card</p> <input type="text"
                                            onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || ((event.charCode >= 97 && event.charCode <= 122) || event.charCode == 32 ))'
                                            name="nameoncard" placeholder="Name" size="15" id="nameoncard"
                                            onkeyup="validation(this)">
                                    </div>
                                    <div class="form-group">
                                        <p class="text-muted text-sm mb-0">Card Number</p>
                                        <div class="row px-3"> <input type="text" name="cardnum"
                                                placeholder="0000 0000 0000 0000" size="18" id="cr_no" minlength="19"
                                                maxlength="19" onkeyup="validation(this)">
                                            <p class="mb-0 ml-3">/</p> <img class="image ml-1"
                                                src="https://i.imgur.com/WIAP9Ku.jpg">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-muted text-sm mb-0">Expiry date</p> <input type="text" name="exp"
                                            placeholder="MM/YY" size="6" id="exp" minlength="5" maxlength="5"
                                            onkeyup="validation(this)">
                                    </div>
                                    <div class="form-group">
                                        <p class="text-muted text-sm mb-0">CVV/CVC</p> <input
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                            type="password" name="cvv" placeholder="000" size="1" minlength="3"
                                            maxlength="3" id="pass" onkeyup="validation(this)">
                                    </div>
                                    <div class="form-group mb-0">
                                        <div class="custom-control custom-checkbox custom-control-inline"> <input
                                                id="chk1" type="checkbox" name="chk" class="custom-control-input"
                                                checked> <label for="chk1"
                                                class="custom-control-label text-muted text-sm">save my card for
                                                future payment</label> </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 text-sm-center justify-content-center pt-4 pb-4">
                                    <small class="text-sm text-muted">Order reference number</small>
                                    <h5 class="mb-5">
                                        <%=orderId%>
                                    </h5>

                                    <small class="text-sm text-muted">Payment amount</small>
                                    <div class="row px-3 justify-content-sm-center">
                                        <h2 class=""><span class="text-md font-weight-bold mr-2">&#8377;</span><span
                                                class="text-danger">
                                                <%=(post.price*units).toFixed(2)%>&nbsp;
                                            </span><small style="color: grey;"><small
                                                    style="font-size: 45%;">(&#8377;&nbsp;
                                                    <%=post.price%> x <%=units%>&nbsp;<%if(units>1){%>units<%}else{%>
                                                                    unit<%}%>
                                                                        )
                                                </small></h2>
                                    </div>
                                    <form action="/buyer/payment" method="POST">
                                        <input type="hidden" name="payment_postId" value="<%=post._id%>">
                                        <input type="hidden" name="payment_refId" value="<%=orderId%>">
                                        <button type="submit" class="btn btn-red text-center mt-4 submitBtn" disabled>PAY</button>
                                    </form>
                                </div>

                            </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/payment.js"></script>

</html>